<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177399106018-bi14h5u7v7pirpflvuuf0ghnifmf8rm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177399106018-bi14h5u7v7pirpflvuuf0ghnifmf8rm0</string>
	<key>API_KEY</key>
	<string>AIzaSyD-HjSehuPKaCxArLb_LZRfEtuvePRnJas</string>
	<key>GCM_SENDER_ID</key>
	<string>177399106018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pankecho.Expenses</string>
	<key>PROJECT_ID</key>
	<string>expenses-6ccff</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-6ccff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177399106018:ios:d0ea804fe0e68bcf3151bb</string>
</dict>
</plist>